/* Your code here */
 .pf {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 50px;
}

/* Learning about Block-Element-Modifier */
.wgs{
  display: inline-block;
  height: 241px;
  width: 320px;
  position: relative;
  overflow: hidden;
}

.wgs_mole-head{
  height: 178px;
  width: 188px;
  position: absolute;
  left: 55px;
  transition: margin-top 0.25s;
}

.wgs_dirt{
  width: 320px;
  height: 110px;
  position: absolute;
  top: 131px;
}

.wgs_mole-head--hidden{
  /* height: 178px;
  width: 188px;
  position: absolute;
  left: 55px; */
  margin-top: 250px;
}


/* UNCOMMENT THE CODE BELOW WHEN DIRECTED */
 .sb {
  background-color: cornflowerblue;
  border-bottom: 1px solid #645DED;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  font-size: 30px;
  margin-bottom: 50px;
  padding: 10px 20px;
}

 .sb__mole-counter {
  flex: 1 0 0;
  text-align: right;
}

 .sb__score-holder {
  flex: 1 0 0;
}

 .sb__game-over--hidden {
  display: none;
}
